<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RedmineURL" value="http://redmine.example.com"/>
    <add key="RedmineUser" value="my username"/>
    <add key="RedminePassword" value="my pasword"/>
    <add key="RedmineAuthentication" value="True"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
